@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background-color: #111;
  color: #eee;
}

.text-centre {
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
}
.banner img.bg {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  filter: grayscale(1);
}
.banner img.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 280px;
  border-radius: 20px;
}

h1, h2, h3, h4 {
  font-family: 'Bebas neue', sans-serif;
}

h1 {
  padding: 60px 10% 0;
  font-size: 50px;
  color: rgb(192, 0, 0);
  margin-bottom: 30px;
  line-height: 1em;
}
h2 {
  margin-bottom: 40px;
  color: #db8300;
  font-size: 30px;
}
h3 {
  margin-bottom: 30px;
}
h4 {
  font-size: 16px;
}
p {
  padding: 0 5%;
  font-size: 13px;
  line-height: 16px;

}

.divider {
  border-bottom: 1px solid #666;
  margin: 50px 20%;
}

@media (min-width: 600px) {
  .band {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
.band .member {
  margin-bottom: 40px;
}
.band .member img {
  margin-bottom: 40px;
}



.testimonial {
  padding: 20px 10%;
}

.testimonials blockquote {
  font-style: italic;
  font-size: 17px;
  line-height: 20px;
  color: #eee;
}

.testimonials .author {
  text-align: right;
  font-size: 11px;
  color: #999;
}

@media (min-width: 600px) {
  .testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .testimonial {
    padding: 0;
  }
}

.audio {
  display: grid;
  gap: 30px;
}
@media (min-width: 600px) {
  .audio {
    grid-template-columns: 1fr 1fr;
  }
}