@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background-color: #111;
  color: #eee;
}

.text-centre {
  text-align: center;
}
.text-white {
  color: #fff;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
}
.banner img.bg {
  object-fit: cover;
  object-position: right center;
  width: 100%;
  height: 100%;
}
@media (min-width: 800px) {
  .banner img.bg {
    object-position: center center;
  }
}
.banner img.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 280px;
  border-radius: 20px;
}
@media (min-width: 800px) {
  .banner img.logo {
    height: 380px;
  }
}

h1,
h2,
h3 {
  font-family: "Bebas neue", sans-serif;
}

h1 {
  padding: 60px 6% 0;
  font-size: 50px;
  color: rgb(192, 51, 0);
  margin-bottom: 30px;
  line-height: 1em;
}
.summary {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 17px;
  padding: 0 5%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  margin-bottom: 40px;
  color: #f25500;
  font-size: 34px;
}
h3 {
  margin-bottom: 20px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5%;
}
h4 {
  font-size: 16px;
}
p {
  padding: 0 5%;
  font-size: 14px;
  line-height: 18px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.divider {
  border-bottom: 1px solid #666;
  margin: 70px 0;
}

@media (min-width: 600px) {
  .band {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
.band .member {
  margin-bottom: 40px;
}
.band p {
  color: #bbb;
}
.band .member img {
  margin-bottom: 40px;
}

.testimonial {
  padding: 20px 10%;
}

.testimonials blockquote {
  font-style: italic;
  font-size: 17px;
  line-height: 20px;
  color: #eee;
}

.testimonials .author {
  text-align: right;
  font-size: 11px;
  color: #999;
}

@media (min-width: 600px) {
  .testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .testimonial {
    padding: 0;
  }
}

.audio {
  display: grid;
}
.audio .track {
  margin: 0 0 20px 0;
}
.audio .title {
  color: #fff;
}
.audio .artist {
  color: #999;
  margin-bottom: 6px;
  font-size: 13px;
}
@media (min-width: 800px) {
  .audio {
    grid-template-columns: auto auto;
    gap: 30px;
    justify-content: center;
  }
  .audio .track {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .audio {
    grid-template-columns: auto auto auto;
    gap: 40px;
  }
}

/* contact us */
button {
  background-color: #f25500;
  border: none;
  padding: 10px 30px;
  margin-top: 20px;
}
.form-row {
  display: grid;
  /*  */
  align-items: center;
  margin-bottom: 10px;
  padding: 0 10%;
}

.form-row label {
  text-align: left;
}
.form-row input,
.form-row textarea {
  padding: 10px;
  background-color: #ccc;
  border: none;
  font-weight: bold;
  transition: all 0.3s ease-out;
}
.form-row input:focus,
.form-row textarea:focus {
  outline: 1px solid red;
  background-color: #fff;
}
.form-row input:visited,
.form-row textarea:visited {
  background-color: #fff;
}
.form-label {
  color: #999;
  margin-bottom: 20px;
}
#result {
  margin-top: 40px;
  color: rgb(13, 160, 13);
  font-size: 16px;
}

@media (min-width: 700px) {
  .form-row {
    grid-template-columns: 160px 350px;
    gap: 20px;
    padding: 0;
    justify-content: center;
  }
  .form-row label {
    text-align: right;
  }
}

/* calendar */
.accordion-item {
  border-color: #111;
}
.accordion-body {
  text-align: left;
  background-color: #ddd;
  padding: 0;
}
.event-item {
  border-bottom: 1px solid #bbb;
  padding: 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr auto;
  align-items: center;
  background: rgb(238, 238, 238);
  background: linear-gradient(
    90deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(200, 200, 200, 1) 100%
  );
}
.event-item:last-child {
  border-bottom: none;
}

.event-title {
  font-size: 16px;
  color: #111;
  font-weight: bold;
}
.event-location {
  font-size: 12px;
}
.map-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map-link a {
  background-color: #eee;
  border-radius: 20%;
  font-size: 18px;
  text-decoration: none;
  color: #333;
  display: block;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #333; */
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.map-link a:hover {
  background-color: #333;
  color: #fff;
}

.event-item.expired {
  opacity: 0.4;
}
.event-item.expired .event-title {
  color: #111;
}
.event-item.expired .map-link a {
  color: #111;
}

.event-date {
  font-size: 13px;
  font-weight: bold;
}
.accordion-button {
  margin: 0;
  border: none;
  background-color: #333;
  color: #999;
  font-family: "Bebas Neue";
  font-size: 20px;
  line-height: 20px;
  padding: 16px 20px 12px;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: #f25500;
  color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 0;
}

.accordion {
  max-width: 600px;
  margin: 0 auto;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23cccccc'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* navbar */
.navbar-toggler {
  margin: 0;
  border: none;
  height: 50px;;
}
.nav-link {
  padding: 10px 15px;
  border-top: 1px solid #333;
  font-family: "Bebas Neue";
  font-size: 20px;
}
.nav-link:focus {
  color: #fff;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar .container-fluid {
  padding: 0;
}
.navbar-nav {
  margin-top: 12px;
}
.navbar-collapse {
  justify-content: center;
  background-color: #222;
  margin: 0;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  justify-content: flex-end;
}
nav.navbar {
  background-color: #222;
  background-color: rgb(17, 17, 17);
  background: linear-gradient(0deg, #333333 0%, #111111 100%) !important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
  height: 50px;
  padding: 0;
}
.navbar .logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: left;
  display: block;
}
.navbar-brand {
  display: block;
  height: 32px;
  width: 200px;
  padding: 0;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  left: 20px;
  top: 10px;
  z-index: 2;
}
.navbar-brand.active {
  opacity: 1;
}
@media (min-width: 992px) {
  .navbar-nav {
    margin-top: 0px;
    margin-left: 0 !important;
  }
  .nav-link {
    padding: 0px 16px !important;
    border-top: none;
  }
}

.footer-logo {
  width: 280px;
  height: 280px;
  margin: 0 auto 100px;
}
.footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

/* images */
.gallery {
  position: relative;
  max-width: calc(100vh - 200px);
  margin: 0 auto;
}
.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.images img {
  filter: grayscale();
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.images.dark img {
  filter: blur(6px) grayscale();
  opacity: 0.6;
}
.gallery .overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  height: auto;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  border: 10px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
}
.gallery .overlay svg {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
}
.gallery .overlay.active {
  opacity: 1;
  visibility: visible;
  width: 96%;
}
@media (min-width: 600px) {
  .images {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  /* .images img:hover {
    filter: none;
  } */
}
